<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buzzi_publish_events>
            <cart_abandonment>
                <respect_accepts_marketing>0</respect_accepts_marketing>
                <quote_last_action>1</quote_last_action>
                <quotes_limit>1000</quotes_limit>
                <resubmission>1</resubmission>
                <resubmission_suffix>1</resubmission_suffix>
                <global_schedule>1</global_schedule>
            </cart_abandonment>
        </buzzi_publish_events>
    </default>
</config>
